<div class="text-center">
    <p>
        <a href="https://www.canberra.edu.au/about-uc/faculties/arts-design" target="_blank">
            <img src="{{site.baseurl}}/assets/images/fad-logo4.png" class="align-center" alt="FAD logo">
        </a>
    </p>
    <p class="ack">UC acknowledges the Ngunnawal people, traditional custodians of the lands where Bruce campus is
        situated. <br>We wish to acknowledge and respect their continuing culture and the contribution they make to the
        life of Canberra and
        the region. <br>We also acknowledge all other First Nations Peoples on whose lands we gather.
    </p>

</div>

<div class="page__footer-copyright text-center">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title
    }}. This site
    created by UC's <a href="http://canberradesignlab.com">Design Lab</a>.</div>