<div class="page__footer-copyright">
    <p>
        <a href="https://www.canberra.edu.au/about-uc/faculties/arts-design" target="_blank">
            <img width="465px" src="{{site.baseurl}}/assets/images/fad-logo4.png">
        </a>
    </p>
    <p>UC acknowledges the Ngunnawal people, traditional custodians of the lands where Bruce campus is situated. We wish
        to acknowledge and respect their continuing culture and the contribution they make to the life of Canberra and
        the region. We also acknowledge all other First Nations Peoples on whose lands we gather.
    </p>

</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. This site
    created by UC's <a href="http://canberradesignlab.com">Design Lab</a>.</div>